!= partial('../_partials/header')

.container
	.blogcontent
		.row
			.col-sm-6.col-md-8
				header
					h1= title
				p 
					a(href="/") &laquo; Back to homepage
				- if (yield) yield = yield.replace(/<h1>.*?<\/h1>/, '');
				!= yield
			.col-sm-6.col-md-4
				!= partial('../_partials/pens')

!= partial('../_partials/footer')
