@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";

html, body {
	font-size: 100%;
	font-family: sans-serif;
 background:
  repeating-linear-gradient(45deg,
  #fefefe 5%,
  transparent 10%,
  #fefefe 15%),
  repeating-linear-gradient(-45deg,
  #fefefe 5%,
  transparent 10%,
  #fefefe 15%),
  #fdfdfd;
  background-size: 30px 30px;
	color: #6f6f6f;
}

.site-header {
	background: #9f9f9f;
  box-shadow: 0 0 5px #9f9f9f;
}
.site-header h1 {
	line-height: 3em;
	text-shadow: 0px 0px 5px #afafaf;
	padding: 0 1rem;
}
.profile {
	margin-right: 1rem;
	border-radius: 50px;
	border: 2px #efefef solid;
	box-shadow: 0 0 5px #6f6f6f;
}

.blogcontent {
  padding: 1rem;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 5px #9f9f9f;
}

h1, h2, h3, h4, h5, h6 {
	color: steelblue;
}
a, a:visited {
	color: steelblue;
}

.blogcontent section {
	border-bottom: 1px solid #afafaf;
}

.blogcontent img {
	width: 100%;
	padding: .5em;
	border: 1px solid #afafaf;
	margin: .5em 0;
}

section.bio {
	border: 1px solid #afafaf;
	background: rgba(239, 239, 239,0.8);
	padding: .5em;
}

section.bio h2 {
	margin: .25em 0;
}

footer {
	margin: 1em 0;
	font-size: 75%;
}

@media screen and (max-width: 630px) {
	.site-header h1 {
		line-height: 1;
		font-size: 100%;
	}
	.site-header img {
		width: 2em;
	}
}
