footer
	.container
		.row 
			.col-sm-12.text-center
				a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
					img(alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png")
				br
				span(xmlns:dct="http://purl.org/dc/terms/" property="dct:title") The content on Csaba's developer paradise 
				span by  
					a(xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/cbabos" property="cc:attributionName" rel="cc:attributionURL") Csaba Babos 
					br
				span is licensed under a 
					a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Attribution-ShareAlike 4.0 International License
				span .
				br
				br
				span You can fork the blog's code on Github: 
					a(href="https://github.com/cbabos/my-blog") https://github.com/cbabos/my-blog  
