doctype
html
	head
		title #{ site_title }
		meta(charset="UTF-8")
		meta(name="description",content="#{ site_description }")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet" href="/main.css")
	body
		
		header.site-header
			.container
				.row
					.col-xs-12
						h1 
							a(href="/")
								img.profile(src="https://secure.gravatar.com/avatar/7b58a74d67d278b74a2a460eb589fdf9?s=64") 
								span Csaba's developer paradise
		
