aside
	header 
		h1 My pens on CodePen 
	
	div.pen
		p(data-height="181" data-theme-id="0" data-slug-hash="YPMLBM" data-default-tab="result" data-user="cbabos" class='codepen')
		script(async src="//assets.codepen.io/assets/embed/ei.js")
		p Small 3D CSS cube experiment

		p(data-height="212" data-theme-id="0" data-slug-hash="bNywjG" data-default-tab="result" data-user="cbabos" class='codepen')
		script(async src="//assets.codepen.io/assets/embed/ei.js")
		p It's a small css icon-pair for creating menu for mobile. Default-state: standard menu-icon. Clicked-state: close icon.

		p(data-height="286" data-theme-id="0" data-slug-hash="XJxVRL" data-default-tab="result" data-user="cbabos" class='codepen')
		script(async src="//assets.codepen.io/assets/embed/ei.js")
		p A simple house written purely in CSS3. The window is hoverable, it's meant to use as a droppable element.
		
